*{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    background:#f5f5f5;
}

#login-box{
    position:absolute;
    width:50%;
    max-width:400px;
    border-radius:5px;  
    background:#fff;
    border:1px solid #ccc;
    box-shadow:0 0 10px 0 #e7e7e7;
}

#login-box form{
    text-align:center;
    padding:5%;
}

#login-box h3{
    padding:4% 6%;
    background:#f1f1f1;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom:1px solid #ddd;
    font-weight:lighter;
}

button {
    background: #4b85ea; /* Old browsers */
    background: -moz-linear-gradient(top, #4b85ea 1%, #2054e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#4b85ea), color-stop(100%,#2054e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4b85ea 1%,#2054e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4b85ea 1%,#2054e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4b85ea 1%,#2054e5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4b85ea 1%,#2054e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b85ea', endColorstr='#2054e5',GradientType=0 ); /* IE6-9 */
    border: 1px solid #2054e5;
    box-shadow: inset 0 0 1px 0 #fff, 0 0 3px 0 #778E91, inset 0 -1px 1px 0 #1C3E9B;
}

.success{
    background: #42b500; /* Old browsers */
    background: -moz-linear-gradient(top, #42b500 1%, #32c900 1%, #1da000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#42b500), color-stop(1%,#32c900), color-stop(100%,#1da000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #42b500 1%,#32c900 1%,#1da000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #42b500 1%,#32c900 1%,#1da000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #42b500 1%,#32c900 1%,#1da000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #42b500 1%,#32c900 1%,#1da000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42b500', endColorstr='#1da000',GradientType=0 ); /* IE6-9 */
    border: 1px solid #1da000;
    box-shadow: inset 0 0 1px 0 #fff, 0 0 3px 0 #799177, inset 0 -1px 1px 0 #1C9B1C;
}

.success:hover{
    background:#1da000;
}

.success:active{
    box-shadow:inset 0 0 1px 0 #fff,inset 0 3px 15px 0 #168B00;
}

.failure{
    background: #ff3019; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
    border: 1px solid #cf0404;
    box-shadow: inset 0 0 1px 0 #fff, 0 0 3px 0 #917777, inset 0 -1px 1px 0 #9B1C1C;
}

.failure:hover{
    background: #CA0505;;
}

.failure:active{
    box-shadow:inset 0 0 1px 0 #fff,inset 0 3px 15px 0 #8B0000;
}

button {
    display:inline-block;
    border-radius: 4px;
    color: #f0f0f0;
    padding:2% 5%;
    text-shadow: 1px 1px 1px #909090;
    font-size:0.9rem;
    cursor:pointer;
    margin: 3% 1.5% 3% 1.5%;
}

button:hover{
    background:#2054e5;
}

button:active{
    box-shadow:inset 0 0 1px 0 #fff,inset 0 3px 15px 0 #1C3E9B;
}

.button-wrapper{
  text-align:center;
}

input{
  width:85%;
  padding:3% 4%;
  background:#f3f3f3;
  border:1px solid #ccc;
  border-radius:3px;
  color:#505050;
  margin:2%;
  margin-bottom:7% ;
  transition:200ms;
  font-size:0.95rem;
}

input:focus{
  outline:none;
  border:1px solid #4b85ea !important;
}
